:root{
    --a-color: #e3c4f1;
    --dark-purple: #c370ca;
}

*,
body,
html{
    padding: 0%;
    margin: 0%;
    text-align: center;
    align-items: center;
}

body{
    background-color: var(--a-color);
    color: var(--dark-purple);
}

.enter-button{
    margin: 2%;
    padding: 0.25% 1%;
    background-color: var(--dark-purple);
    color: white;
    border-color: var(--dark-purple);
}

.text-box{
    color: var(--dark-purple);
    border-color: var(--dark-purple);
    margin: 2%;
}

h1{
    margin: 2%;
    font-weight: bold;
    font-size: 190%;
}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    background-color: white;
    width: 20%;
    text-align: center;
    margin: 3%;
    padding: 3%;
}

h3{
    font-weight: bold;
    font-size: 120%;
    padding: 5%;
    margin: 3%
}

h4{
    font-weight: normal;
    font-size: 80%;
}

h5{
    font-size: 90%;
}

h6{
    font-size: 70%;
    padding: 2%;
}