:root{
    --a-color: #e3c4f1;
    --dark-purple: #c370ca;
    --somewhat-dark-purple: #96399e;
    --darker-purple: #792e80;

    --h4: 75%;
    --h1: 210%;
    --definition-text: 90%;
    --h3: 120%;
    --h5: 80%;
    --source-texts: 70%;
    --h2: 100%;
    --h6: 70%;
}

*,
body,
html{
    padding: 0%;
    margin: 0%;
    text-align: center;
    align-items: center;
}

body{
    background-color: var(--a-color);
    color: var(--darker-purple);
}

form{
    color: var(--darker-purple);
    width: 49%;
    height: 30%;
    font-size: var(--h2);
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 2%;
    margin: auto;
}

.enter-button{
    margin: 2%;
    padding: 1% 2%;
    background-color: var(--darker-purple);
    color: var(--a-color);
    border-color: var(--darker-purple);
    /* border-color: #aa262600; */
    font-size: 100%;
}

.text-box{
    color: var(--dark-purple);
    border-color: var(--somewhat-dark-purple);
    margin: 2%;
    width: 50%;
    text-align: left;
}

h1{
    margin: 2%;
    font-weight: bold;
    font-size: var(--h1);
}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    background-color: #ffffff;
    width: 70%;
    text-align: center;
    margin: 3%;
    padding: 3%;
}

h3{
    font-weight: bold;
    font-size: var(--h3);
    padding: 0.5%;
    margin: 3% 3% 0% 3%;
}

h4{
    font-weight: normal;
    font-size: var(--h4);
    margin: 0% 0% 2% 0%;
    font-style: italic;
}

.def{
    font-size: var(--definition-text);
    font-weight: bold;
    padding: 0% 0% 1% 0%;
}

h5{
    font-size: var(--h5);
    font-weight: normal;
}

h6{
    font-size: var(--h6);
    font-weight: normal;
    font-style: italic;
}

h7{
    color: #0a3a3a;
    padding: 2%;
}

.s-head{
    padding: 2% 0% 0% 0%;
}

.remove-b{
    padding: 1%;
    margin: 3% 2% 0.25% 2%;
    background-color: #c370ca;
/*  border-color: #aa262600; */
    color: #ffffff;
}

.ex-sentence{                   /* example sentence */
    padding: 1%;
    font-weight: bold;
}